.target {
  width: fit-content;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.target span {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  opacity: 0.4;
  transition: all 0.3s ease-in-out;
}

.target .circle {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background: #2f4668;
}

.progress .active {
  cursor: pointer;
}

.active .circle {
  background: linear-gradient(90deg, #19a7ad 11.69%, #1d8093 79.78%);
}

.target.active span {
  opacity: 1;
}

.line {
  position: absolute;
  top: 70%;
  z-index: 1;
  left: 0;
  width: 100%;
  padding: inherit;
  display: flex;
  align-items: center;
}

.line1,
.line2 {
  width: 50%;
  height: 0;
  color: transparent;
  border-bottom: 3px #4e4a88;
  border-style: dashed;
}

.solid {
  border-style: solid;
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 912px;
  margin: 65px auto 255px auto;
}

.upload h4 {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #32e5eb;
}

.upload button {
  padding: 98px 416px;
  width: 100%;
  height: 160px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-image: linear-gradient(
    47.36deg,
    #2df1e6 12.24%,
    #3694b0 37.45%,
    #468db3 39.38%,
    #6f79ba 44.93%,
    #8d6bbf 49.97%,
    #9f63c2 54.29%,
    #a660c3 57.37%
  );
  border-image-slice: 1;
  border-radius: 8px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.latestDemo h4 {
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  text-align: start;
  color: #ffffff;
  margin-bottom: 48px;
}

.demoCard {
  width: 295px;
  height: 363px;
  margin: auto;
  cursor: pointer;
  position: relative;
}

.demoCard:hover .playBtn {
  opacity: 1;
}

.demoCard:hover {
  background: radial-gradient(
    49.86% 49.86% at 50% 49.86%,
    #3b343f 0%,
    #1d1f27 83.03%
  );
  opacity: 0.7;
}

.demoCard__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.playBtn {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pickVoice {
  padding: 65px 0 150px 0;
}

.pickVoice h4 {
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #32e5eb;
  margin-bottom: 34px;
}

.p_v_card {
  width: 380px;
  height: 451px;
  background: linear-gradient(179.92deg, #3b343f 0.07%, #1d1f27 82.76%);
  border-radius: 6px;
  overflow: hidden;
}

.imgArea {
  width: 100%;
  height: 296px;
  cursor: pointer;
  position: relative;
}

.imgArea .checkIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.imgArea:hover .checkIcon {
  opacity: 1;
}

.imgArea .asBG {
  object-fit: cover;
  object-position: center;
}

.imgArea .tag {
  position: absolute;
  top: 22.5px;
  left: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  min-width: 102px;
  height: 42px;
  background: #232229;
  border-radius: 0px 12px 12px 0px;
}

.p_v_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
}

.p_v_card {
  position: relative;
}

.p_v_card .contentArea {
  padding: 14px;
}

.contentArea .category {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #8f8f8f;
  margin-top: 10px;
}

.p_v_titleArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p_v_titleArea h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  color: #fffffd;
}

.p_v_titleArea .rating {
  display: flex;
  align-items: center;
}

.p_v_titleArea .rating span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 4px;
  margin-left: 2.5px;
  color: #fffffd;
}

.p_v_btn {
  text-align: end;
}

.p_v_btn button {
  width: 124px;
  height: 40px;
  background: linear-gradient(
    47.36deg,
    #2df1e6 12.24%,
    #3694b0 37.45%,
    #468db3 39.38%,
    #6f79ba 44.93%,
    #8d6bbf 49.97%,
    #9f63c2 54.29%,
    #a660c3 57.37%
  );
  border-radius: 6px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #fffffd;
}

.p_v_card .premium {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: #000;
}

.p_v_card .premium span {
  position: absolute;
  top: 148px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: #ffffff;
  white-space: nowrap;
}

.getDemoBtn {
  text-align: center;
  margin: 104px 0 333px 0;
}

.getDemoBtn button {
  padding: 24px 0;
  max-width: 565px;
  width: 100%;
  height: 76px;
  background: linear-gradient(
    212.36deg,
    #b843b7 27.16%,
    #a548b2 29.91%,
    #7d51a9 36.6%,
    #6058a2 42.71%,
    #4e5c9e 47.98%,
    #485e9c 51.81%,
    #4393bb 66.42%,
    #39eef2 89.85%
  );
  border-radius: 8px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #fff8f8;
}

@media only screen and (max-width: 1200px) {
  .upload {
    width: 100%;
  }

  .upload button {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 424px) {
  .demo {
    padding: 0 0 32px 0;
  }

  .demoCard {
    width: 154px;
    height: 190px;
  }

  .getDemoBtn {
    padding: 0 12px;
    margin: 92px 0 218px 0;
  }

  .upload {
    margin: 40px auto 100px auto;
  }

  .upload h4 {
    font-size: 16px;
    line-height: 18px;
  }

  .latestDemo h4 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
  }

  .progress {
    margin-top: 40px;
  }

  .target span {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }

  .target .circle {
    width: 12px;
    height: 12px;
  }

  .line {
    top: 66%;
  }

  .line1,
  .line2 {
    border-bottom: 1px #4e4a88;
    border-style: dashed;
  }

  .solid {
    border-style: solid;
  }
}
