.footer {
  width: 100%;
  height: fit-content;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 75px;
  gap: 32px;
}

.footer__container__up {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__container__up__nav_links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.footer__container__up__nav_links h3 {
  font-family: Ubuntu;
  font-size: 28px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.footer__container__up__nav_links ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  list-style: none;
}

.footer__container__up__nav_links ul li a {
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__container__up__nav_links__input {
  position: relative;
  box-sizing: border-box;
  width: 360px;
  height: 48px;
  border-radius: 8px;
  background: linear-gradient(33.68deg, #2DF1E6 -15.26%, #3694B0 9.86%, #468DB3 11.78%, #6F79BA 17.32%, #8D6BBF 22.34%, #9F63C2 26.64%, #A660C3 29.71%);
}

.footer__container__up__nav_links__input input {
  position: absolute;
  box-sizing: border-box;
  width: 220px;
  height: 44px;
  left: 3px;
  top: 3px;
  border-radius: 8px 0px 0px 8px;
  background: #0F0E19;
  text-align: left;
  color: #FFFFFF;
}

.footer__container__up__nav_links__input input::placeholder {
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.footer__container__up__nav_links__input input:focus {
  outline: none;
}

.footer__container__up__nav_links__input input:focus::placeholder {
  color: transparent;
}

.footer__container__up__nav_links__input span {
  position: absolute;
  box-sizing: border-box;
  width: 142px;
  height: 42px;
  left: 216px;
  top: 3px;
  background: #1FC2C7;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
}

.footer__container__up__nav_links__input span {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 509px;
  background: #0F0E19;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 72px 0;
  width: 100%;
  min-height: 365px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 64px;
}

.col {
  width: fit-content;
}

.col h4 {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  color: #FFFFFD;
  margin-bottom: 24px;
}

.col li+li {
  margin-top: 16px;
}

.col li a {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.divider {
  width: 100%;
  height: .5px;
  background-color: rgba(255, 255, 253, 0.4);
  margin-top: 32px;
}

.social {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
}

.social p {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.icons {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 424px) {
  .social {
    justify-content: center;
  }

  .col:last-child {
    width: 100%;
  }

  .col h4 {
    font-size: 20px;
  }

  .col li a {
    font-size: 16px;
    line-height: 18px;
  }

  .row {
    gap: 56px;
  }

  .social p {
    font-size: 12px;
    line-height: 14px;
  }

  .icons {
    column-gap: 24px;
  }

  .icons li img {
    width: 24px;
    height: 24px;
  }
}