.footer__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 75px;
  gap: 32px;
}

.footer__container__up {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__container__up__nav_links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.footer__container__up__nav_links h3 {
  font-family: Ubuntu;
  font-size: 28px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.footer__container__up__nav_links ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  list-style: none;
}

.footer__container__up__nav_links ul li a {
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.footer__container__up__nav_links__input {
  position: relative;
  box-sizing: border-box;
  width: 360px;
  height: 48px;
  border-radius: 8px;
  background: linear-gradient(
    33.68deg,
    #2df1e6 -15.26%,
    #3694b0 9.86%,
    #468db3 11.78%,
    #6f79ba 17.32%,
    #8d6bbf 22.34%,
    #9f63c2 26.64%,
    #a660c3 29.71%
  );
}

.footer__container__up__nav_links__input input {
  position: absolute;
  box-sizing: border-box;
  width: 220px;
  height: 44px;
  left: 3px;
  top: 3px;
  border-radius: 8px 0px 0px 8px;
  background: #0f0e19;
  text-align: left;
  color: #ffffff;
}

.footer__container__up__nav_links__input input::placeholder {
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.footer__container__up__nav_links__input input:focus {
  outline: none;
}

.footer__container__up__nav_links__input input:focus::placeholder {
  color: transparent;
}

.footer__container__up__nav_links__input span {
  position: absolute;
  box-sizing: border-box;
  width: 142px;
  height: 42px;
  left: 216px;
  top: 3px;
  background: #1fc2c7;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
}

.footer__container__up__nav_links__input span {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 509px;
  background: #0f0e19;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 424px) {
  .social {
    justify-content: center;
  }

  .col:last-child {
    width: 100%;
  }

  .col h4 {
    font-size: 20px;
  }

  .col li a {
    font-size: 16px;
    line-height: 18px;
  }

  .row {
    gap: 56px;
  }

  .social p {
    font-size: 12px;
    line-height: 14px;
  }

  .icons {
    column-gap: 24px;
  }

  .icons li img {
    width: 24px;
    height: 24px;
  }
}
