.getStarted {
  width: 1200px;
  height: fit-content;
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin: 100px auto;
  /* overflow: hidden; */
  background: url(/img/get-started/get-explore.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.getStarted__container {
  padding: 100px 72px;
  width: 43%;
}

.getStarted__container__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.getStarted__container__text>h1 {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.getStarted__container__text>p {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.getStarted__container__text>span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 13.5px 16px;
  gap: 8px;
  height: 48px;
  background: linear-gradient(90deg, #23AFB7 1.46%, #169AA4 79.47%);
  border-radius: 8px;
  cursor: pointer;
}

@media only screen and (max-width: 424px) {
  .getStarted {
    margin: 100px auto 0 auto;
    width: 100%;
  }

  .getStarted__container {
    padding: 32px 43px;
    width: 70%;
  }

  .getStarted__container__text h1 {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 6px;
  }

  .getStarted__container__text p {
    font-size: 10px;
    margin-bottom: 25px;
  }

  .getStarted__container__text span {
    margin-top: 20px;
    height: 22px;
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
  }
}