.header {
  width: 100%;
  height: 116px;
  display: flex;
  align-items: center;

}

.header_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  cursor: pointer;
}

.header_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 214px;
}

.header_links>ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  width: 515px;
  height: 21px;
  list-style: none;
  cursor: pointer;
}

.header_links>ul>li {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}

.header_links .active {
  color: #32E5EB;
}

.header_profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: fit-content;
  height: 40px;
}

.header_profile_logo {
  gap: 8px;
  cursor: pointer;
}

.header_profile_logo P {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: #FFFFFF;
}

.bar {
  display: none;
  padding: 10px;
}

.profile {
  position: relative;
}

.profile_links {
  position: absolute;
  width: 235px;
  height: fit-content;
  right: 0px;
  padding: 21px 18px;
  align-items: start;
  top: 42px;
  background: linear-gradient(179.92deg, #3B343F 0.07%, #1D1F27 82.76%);
  border-radius: 5px;
  flex-direction: column;
  z-index: 10;
}

.profile_links ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 0;
}

.profile_links ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  white-space: nowrap;
  color: #FFFFFD;
  width: 100%;
  text-align: start;
}

.profile_links ul a:not(:last-child, :first-child) {
  padding: 20px 0;
}

.profile_links ul a:not(:last-child) {
  border-bottom: 1px solid #505050;
}

.profile_links ul a:last-child {
  padding-top: 20px;
}

.profile_links ul a:first-child {
  padding-bottom: 20px;
}


@media only screen and (max-width: 1200px) {

  .header_links {
    column-gap: 0;
  }

  .header_profile {
    /* margin-left: 30px; */
  }
}

@media only screen and (max-width: 990px) {
  .header_container {
    position: relative;
  }

  .header_links {
    position: absolute;
    width: 230px;
    min-height: 482px;
    right: 0px;
    padding: 21px 18px;
    align-items: start;
    top: 42px;
    background: linear-gradient(179.92deg, #3B343F 0.07%, #1D1F27 82.76%);
    border-radius: 5px;
    flex-direction: column;
    z-index: 10;
    display: none;
    /* flex-direction: column-reverse; */
  }

  .header_links ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 0;
  }

  .header_links ul li {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFD;
    width: 100%;
    text-align: start;
  }

  .header_links ul li:not(:last-child, :first-child) {
    padding: 20px 0;
  }

  .header_links ul li:not(:last-child) {
    border-bottom: 1px solid #505050;
  }

  .header_links ul li:last-child {
    padding-top: 20px;
  }

  .header_links ul li:first-child {
    padding-bottom: 20px;
  }

  .header_profile {
    height: fit-content;
    margin-top: 30px;
    gap: 12px;
    width: 100%;
    flex-direction: column;
  }

  .header_profile_logo {
    flex-direction: row;
  }

  .profile_sm {
    flex-direction: column-reverse;
  }

  .profile_sm .header_profile_logo {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .auth {
    width: 100%;
  }

  .bar {
    display: block;
  }

  .profile_links {
    display: none;
  }
}

@media only screen and (max-width: 570px) {}