@media only screen and (max-width: 424px) {
  .joinContent {
    flex-direction: column;
    margin: 40px 0 110px 0;
  }

  .joinLeft {
    display: none;
  }

  .joinRight {
    width: 100%;
    border: none;
    padding: 0;
  }
}
