.package {
  margin: 48px 0 64px 0;
}

.package .box {
  width: 296px;
  height: 38px;
  margin: auto;
  display: flex;
  align-items: center;
}

.monthly,
.yearly {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  color: #1E1E1E;
  background: #E9E9E9;
  transition: color 0.2s ease-in;
  width: 50%;
  height: 100%;
  cursor: pointer;
}

.monthly {
  border-radius: 8px 0 0 8px;
}

.yearly {
  border-radius: 0px 8px 8px 0px;
}

.box .active {
  background: linear-gradient(90deg, #23AFB7 1.46%, #169AA4 79.47%);
  color: #FFFFFD;
}

.s_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  column-gap: 27px;
  row-gap: 40px;
  margin-bottom: 150px;
}

.s_cards_c {
  margin-top: 64px;
}

.s_card {
  position: relative;
  color: #FFFFFF;
  width: 370px;
  min-height: 517px;
  height: fit-content;
  background: #22627F;
  border-radius: 8px;
  padding: 53px 24px;
}

.s_card_cf {
  color: #FFFFFF;
  background: transparent;
}

.coloredBG {
  background: linear-gradient(212.36deg, #B843B7 27.16%, #A548B2 29.91%, #7D51A9 36.6%, #6058A2 42.71%, #4E5C9E 47.98%, #485E9C 51.81%, #4393BB 66.42%, #39EEF2 89.85%);
}

.s_card__header h3 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  padding-bottom: 12px;
  border-bottom: 0.3px solid #FFFFFD;
}

.s_card__header_c h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #1FC2C7;
  margin-bottom: 48px;
}

.s_card__price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
  margin-top: 16px;
}

.s_card__price h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
}

.s_card__price span {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: capitalize;
}

.c_card_feature+.c_card_feature {
  margin-top: 80px;
}

.s_card .s_card__features+.s_card__features {
  margin-top: 160px;
}

.s_card .s_card__features li:not(:last-child) {
  margin-bottom: 40px;
}

.s_card__features li span {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFD;
}

.s_card__features li {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-top: 24.5px;
}

.s_card_c .s_card__features li {
  justify-content: center;
}

.s_card_c .s_card__features li span {
  display: none;
}

.s_card__features li:not(:last-child) {
  margin-bottom: 25px;
}

.s_card__features_c li {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.s_card__features_c li:not(:last-child) {
  margin-bottom: 40px;
}

.s_card__button button {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #FFFFFD;
  background-color: transparent;
  padding: 13.5px 32px;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 1.5px solid #2f9ccd;
  margin-top: 42px;
}

.s_card__button.active button {
  background: linear-gradient(179.92deg, #3B343F 0.07%, #1D1F27 82.76%);
  border: none;
}

.s_card .s_popular {
  display: flex;
  align-items: center;
  position: absolute;
  top: 16px;
  right: 16px;
  height: 26px;
  background: #2F4668;
  border-radius: 4px;
}

.s_card .s_popular span {
  font-weight: 400;
  font-size: 12px;
  padding: 0 24px;
}

.s_card_c {
  width: 260px;
  min-height: 930px;
  height: fit-content;
}

.s_card_c .s_card__header_c {
  display: none;
}

.subCard {
  width: 75%;
  background: #1D1B2D;
  border-radius: 4px;
  padding: 17px 38px 17px 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.subCard .p_info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.p_info .name {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.p_info .time {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}


.subCard .management_count {
  font-size: 24px;
}

.subCard .textBtn {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #1FC2C7;
  cursor: pointer;
}

.subCard .history small {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}

.subCard .history {
  row-gap: 11px;
  width: fit-content;
}

.subscriptionHistory {
  flex-wrap: wrap;
  column-gap: 40px;
}

@media only screen and (max-width: 1200px) {
  .s_card {
    width: 342px;
  }

  .s_card_cf {
    display: none;
  }

  .s_card_c .s_card__features li span {
    display: block;
  }

  .s_card_c .s_card__header_c {
    display: block;
  }

  .s_card_c .s_card__features li {
    justify-content: space-between;
  }

  .s_card__header_c h3 {
    margin-bottom: 30px;
  }

  .s_card .s_card__features+.s_card__features,
  .s_card .s_card__features {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 424px) {
  .subCard {
    width: 100%;
  }

  .subCard .p_info {
    gap: 12px;
  }

  .p_info .name {
    font-size: 16px;
  }

  .p_info .time {
    font-size: 14px;
    line-height: 16px;
  }

  .subCard .textBtn {
    font-size: 16px;
    line-height: 18px;
  }
}