@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  background: #0f0e19;
  font-family: "Ubuntu";
  font-style: normal;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

/* img {
  max-width: 100%;
  max-height: 100%;
} */

.container {
  width: 1200px;
  margin: auto;
}

.mainLayout,
.dashboardLayout {
  position: relative;
}

.bgEffect1 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: -30px;
  top: 22px;
  background: #b843b7;
  filter: blur(200px);
  z-index: -1;
}

.bgEffect2 {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0px;
  bottom: 400px;
  background: #b843b7;
  filter: blur(200px);
  z-index: -1;
}
.heroSection {
  width: 100%;
  height: fit-content;
  padding: 20px 0px 120px 0px;
  background-image: url("/img/hero/Group-1.png"), url("/img/hero/Group-91.png"),
    url("/img/hero/Ellipse-5.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 421px 308px, 930px -10px, 1120px 450px;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
}

.modal-content {
  position: absolute;
  width: 85%;
  height: 85%;
  left: 50%;
  top: 50%;
  background: linear-gradient(179.92deg, #3b343f 0.07%, #1d1f27 82.76%);
  transform: translate(-50%, -50%);
  border-radius: 20px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content div {
  width: 100%;
}

.progressTitle h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #ffffff;
  text-align: center;
}

.progress .track {
  position: relative;
  margin: auto;
  margin-top: 100px;
  width: 70%;
  height: 47px;
  background: #2f4668;
  border-radius: 20px;
}

.progress .percent {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    47.36deg,
    #2df1e6 12.24%,
    #3694b0 37.45%,
    #468db3 39.38%,
    #6f79ba 44.93%,
    #8d6bbf 49.97%,
    #9f63c2 54.29%,
    #a660c3 57.37%
  );
  border-radius: 20px;
}

.progress .percentTag {
  position: absolute;
  top: -25px;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  transform: translate(-100%, -50%);
}

.modal .crossBtn {
  position: absolute;
  top: 28px;
  right: 28px;
  width: 37.5px;
  height: 37.5px;
  background: transparent;
}

/* BUTTONS */

.fillBtn {
  border: none;
  color: #fff;
  background-image: linear-gradient(90deg, #23afb7 1.46%, #169aa4 79.47%);
  border-radius: 5px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.fillBtn:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}
.mainBtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #169aa4;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}
.mainBtn:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #fff;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.mainBtn:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.mainBtn span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 8px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.mainBtn:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
.btnTransparent {
  --full: linear-gradient(
    47.36deg,
    #2df1e6 12.24%,
    #3694b0 37.45%,
    #468db3 39.38%,
    #6f79ba 44.93%,
    #8d6bbf 49.97%,
    #9f63c2 54.29%,
    #a660c3 57.37%
  );
  border: solid 1px transparent;
  border-radius: 10px;
  background: linear-gradient(to right bottom, #2df1e6, #a660c3) border-box;
  padding: 10px;
  font-size: 1.125em;
  font-weight: 700;
  color: #fff;
  @supports (-webkit-mask-clip: text) {
    /* -webkit-text-fill-color: transparent; */
    -webkit-mask: var(--full) text, var(--full) padding-box, var(--full);
    -webkit-mask-composite: xor;
    transition: all 0.5s ease-in-out;
  }
}

.btnTransparent:hover {
  -webkit-mask: none;
}

.lg_d_none {
  display: none;
}

.pageTitle {
  text-align: center;
  font-family: "Ubuntu";
  font-style: normal;
}

.pageTitle h1 {
  font-weight: 500;
  color: #fff8f8;
  font-size: 56px;
  line-height: 64px;
}

.pageTitle h1 span {
  background: linear-gradient(
    57.89deg,
    #2df1e6 61.08%,
    #3694b0 67.87%,
    #468db3 68.39%,
    #6f79ba 69.88%,
    #8d6bbf 71.24%,
    #9f63c2 72.4%,
    #a660c3 73.23%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.pageTitle p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 24px;
}

.formArea {
  width: 500px;
}

.authContainer {
  display: flex;
  column-gap: 115px;
  align-items: center;
  justify-content: center;
}

.authContainer .imgBox {
  position: relative;
  width: 445px;
  height: 485px;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.authContainer .bg {
  position: absolute;
  width: 450px;
  height: 561px;
  left: -38px;
  top: -38px;
  background: linear-gradient(
    47.36deg,
    #2df1e6 12.24%,
    #3694b0 37.45%,
    #468db3 39.38%,
    #6f79ba 44.93%,
    #8d6bbf 49.97%,
    #9f63c2 54.29%,
    #a660c3 57.37%
  );
  border-radius: 5px;
  z-index: -1;
}

.formArea h4 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #fffffd;
  margin-bottom: 56px;
}

.form {
  width: 100%;
}

.form textarea {
  max-height: 150px;
  min-height: 96px;
}

.formControl {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 26px;
}

.formControl label {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #fffffd;
}

.dashboardLayout .for label {
  font-weight: 700;
}

.formControl input,
.formControl textarea {
  width: 100%;
  max-width: 100%;
  height: 48px;
  background: #1d1c2d;
  border-radius: 8px;
  border: none;
  padding: 15px;
  color: #fffffd;
}

.formControl input::placeholder,
.formControl textarea::placeholder {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(255, 255, 253, 0.6);
}

.formArea .controlPassword {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.forgotPassword {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  background: linear-gradient(0deg, #2df1e6, #2df1e6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}

.showPassword {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  flex-direction: row;
  cursor: pointer;
}

.showPassword input {
  width: 21px;
  height: 21px;
  background: #d9d9d9;
  border-radius: 2px;
}

.showPassword label {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fffffd;
}

.actionBtn {
  padding: 13.5px 32px;
  width: 100%;
  height: 48px;
  background: linear-gradient(90deg, #23afb7 1.46%, #169aa4 79.47%);
  border-radius: 8px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fff8f8;
  margin-top: 40px;
}

.s_btn {
  padding: 8px 24px;
  color: #fffffd;
  background: linear-gradient(90deg, #23afb7 1.46%, #169aa4 79.47%);
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.s_btn_t {
  background: transparent;
  border: 1px solid #2df1e6;
}

.actionBtn_secondary {
  background: transparent;
  border: 1px solid #2df1e6;
}

.alternativeLigInOptions {
  text-align: center;
  margin-top: 32px;
}

.alternativeLigInOptions p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fffffd;
}

.alternativeLigInOptions .haveAccount p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.alternativeLigInOptions .signUp,
.alternativeLigInOptions .login {
  font-weight: 700;
  font-size: 16px;
  background: linear-gradient(
    55.41deg,
    #2df1e6 12.79%,
    #3694b0 54.92%,
    #468db3 58.14%,
    #6f79ba 67.42%,
    #8d6bbf 75.85%,
    #9f63c2 83.06%,
    #a660c3 88.21%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}

.alternativeLigInOptions .authIcon {
  padding: 24px 0 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 32px;
  align-items: center;
}

.alternativeLigInOptions .authIcon img {
  cursor: pointer;
}

.alternativeLigInOptions .haveAccount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 8px;
  align-items: center;
}

.subscribeForm {
  width: 100%;
  height: 48px;
  position: relative;
  display: flex;
  align-items: center;
}

.subscribeForm button {
  position: absolute;
  top: 0px;
  right: 0;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  width: 142px;
  height: 100%;
  background: #1fc2c7;
  border-radius: 0px 8px 8px 0px;
}

.subscribeForm input {
  position: relative;
  padding: 0 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  transform: translateX(3px);
  border: solid 2px transparent;
  border-radius: 8px 0px 0px 8px;
  width: calc(100% - 145px);
  height: 42px;
  background: #0f0e19;
}

.gradientBorder {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(
    47.36deg,
    #2df1e6 12.24%,
    #3694b0 37.45%,
    #468db3 39.38%,
    #6f79ba 44.93%,
    #8d6bbf 49.97%,
    #9f63c2 54.29%,
    #a660c3 57.37%
  );
  top: 0;
  left: 0;
  z-index: -1;
}

.dashboard_children_title {
  color: #ffffff;
}

.dashboard_children_title .title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}

.dashboard_children_title:not(:first-child) {
  margin-top: 52px;
}

.subscriptionPlanCard {
  width: 100%;
  background: linear-gradient(90deg, #206983 24.29%, #2f5377 79.78%);
  border-radius: 4px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.subscriptionPlanCard:not(:last-child) {
  margin-bottom: 52px;
}

.subscriptionPlanCard_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plan_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 131px;
  height: 34px;
  background: linear-gradient(179.92deg, #3b343f 0.07%, #1d1f27 82.76%);
  border-radius: 6px;
  font-size: 16px;
  line-height: 18px;
  color: #fffffd;
}

.sm_plan_btn {
  display: none;
}

.subscriptionPlanCard_header h4 {
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  color: #ffffff;
}

.featuresItems {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
}

.featuresItem {
  display: flex;
  gap: 16px;
}

.featuresItem span {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #fffffd;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 90%;
    margin: auto;
  }

  .authContainer {
    flex-direction: column;
    padding: 110px 24px;
  }
}

@media only screen and (max-width: 570px) {
  .btnTransparent {
    padding: 12px 7px;
    font-size: 1em;
  }
  .mainBtn span {
    padding: 12px 7px;
    font-size: 1em;
  }
  .lg_d_none {
    display: block;
  }

  .authContainer {
    width: 100%;
  }

  .authContainer .loginImgArea {
    display: none;
  }

  .authContainer .formArea {
    width: 100%;
  }

  .modal-content {
    width: 335px;
    height: 222px;
    top: 273px;
  }

  .progressTitle h1 {
    font-size: 20px;
    line-height: 23px;
  }

  .progress .track {
    height: 13px;
    margin-top: 67px;
  }

  .progress .percentTag {
    font-size: 14px;
    top: -12px;
  }

  .modal .crossBtn {
    width: 18.75px;
    height: 18.75px;
    top: 15.62px;
    right: 15.62px;
  }

  .modal .crossBtn img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 500px) {
  /* solide slider css start */
  .splide__slide {
    width: fit-content !important;
  }

  /* solide slider css end*/
  .pageTitle h1 {
    font-size: 28px;
    line-height: 32px;
  }

  .pageTitle p {
    font-size: 14px;
    line-height: 120%;
    margin-top: 12px;
  }

  .formControl {
    margin-bottom: 24px;
    row-gap: 10px;
  }

  .formControl label {
    font-size: 18px;
    line-height: 21px;
  }

  .dashboard_children_title .title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 28px;
  }

  .s_btn {
    padding: 7px 18px;
    font-size: 12px;
    line-height: 14px;
    white-space: nowrap;
  }

  .subscriptionPlanCard_header h4 {
    font-size: 18px;
    line-height: 21px;
  }

  .featuresItem span {
    font-size: 14px;
    line-height: 16px;
  }

  .checkIcon img {
    width: 20px;
    height: 20px;
  }

  .featuresItems {
    grid-template-columns: repeat(1, 1fr);
  }

  .plan_btn {
    display: none;
  }

  .sm_plan_btn {
    display: block;
    width: 100%;
    margin-top: 16px;
  }

  .subscriptionPlanCard:not(:last-child) {
    margin-bottom: 40px;
  }

  .dashboard_children_title:not(:first-child) {
    margin-top: 40px;
  }

  .dashboardLayout .for label {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }
}
