.musicCards {
  display: grid;
  grid-template-columns: repeat(3, 226px);
  justify-content: space-between;
  row-gap: 48px;
}

.musicCard {
  width: 226px;
  min-height: 396px;
  background: linear-gradient(90deg, #206983 24.29%, #2F5377 79.78%);
  border-radius: 8px;
}

.musicCardImg {
  position: relative;
  width: 100%;
  height: 230px;
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
}

.musicCardImg .songPoster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.playBtn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.share {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 12px;
  bottom: 21px;
  background: linear-gradient(179.92deg, #3B343F 0.07%, #1D1F27 82.76%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.musicCardContent {
  height: calc(100% - 230px);
  padding: 6px 18px 14px 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.musicCardContent .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info small {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #B9B9B9;
}

.info h4 {
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info span {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #B9B9B9;
}

.musicCardContent button {
  font-family: 'Ubuntu';
  font-style: normal;
  width: 100%;
  height: 34px;
  background: linear-gradient(179.92deg, #3B343F 0.07%, #1D1F27 82.76%);
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFD;
}

@media only screen and (max-width: 424px) {
  .musicCards {
    grid-template-columns: repeat(2, 155px);
    justify-content: center;
    gap: 32px;
  }

  .musicCard {
    width: 155px;
    min-height: 271px;
  }

  .musicCardImg {
    height: 158px;
  }

  .playBtn {
    width: 42px;
    height: 42px;
  }

  .share {
    width: 18px;
    height: 18px;
  }

  .share img {
    width: 12px;
    height: 12px;
  }

  .musicCardContent {
    padding: 6px 8px 8px 8px;
    height: calc(100% - 158px);
  }

  .musicCardContent .info {
    gap: 4px;
  }

  .musicCardContent button {
    height: 22px;
    font-size: 12px;
    line-height: 14px;
  }

  .info small {
    font-size: 10px;
    line-height: 130%;
  }

  .info h4 {
    font-size: 14px;
    line-height: 130%;
  }

  .info span {
    font-size: 12px;
    line-height: 130%;
  }

}