.overviewCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  padding: 21px 0;
  width: 180px;
  height: 94px;
  background: #414978;
  border-radius: 8px;
  display: flex;
  align-items: center;
  color: #FFFFFD;
  justify-content: center;
}

.card>div {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: linear-gradient(179.92deg, #3B343F 0.07%, #1D1F27 82.76%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}

.content .counter {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}

.content .name {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.profileTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.profileTitle .p_title {
  margin-bottom: 0px;
}

.profile_info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 32px;
}

.profile_info .p_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile_info .name {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.profile_info .info {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

@media only screen and (max-width: 424px) {
  .card {
    width: 156px;
    height: 80px;
  }

  .overviewCards {
    column-gap: 30px;
    row-gap: 20px;
    justify-content: center;
  }

  .content .counter {
    font-size: 20px;
    line-height: 23px;
  }

  .content .name {
    font-size: 12px;
    line-height: 14px;
  }

  .profile_info .name {
    font-size: 16px;
  }

  .profile_info .info {
    font-size: 14px;
  }
}