.inputArea {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 54px;
  row-gap: 14px;
}

.btnArea {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  margin-top: 32px;
}

.subCard {
  width: 100%;
  background: #1D1B2D;
  border-radius: 4px;
  padding: 17px 38px 17px 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.subCard p {
  width: 70%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

@media only screen and (max-width: 424px) {
  .inputArea {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0px;
  }

  .subCard {
    flex-direction: column;
    align-items: flex-start;
  }

  .subCard p {
    width: 100%;
  }

  .btnArea {
    flex-direction: row-reverse;
    margin-top: 16px;
    gap: 16px;
  }

  .btnArea button {
    width: 100%;
  }
}